<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NewClinic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PRegisterController</display-name>
    <servlet-name>PRegisterController</servlet-name>
    <servlet-class>controller.PRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRegisterController</servlet-name>
    <url-pattern>/PRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PLoginCrotroller</display-name>
    <servlet-name>PLoginCrotroller</servlet-name>
    <servlet-class>controller.PLoginCrotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PLoginCrotroller</servlet-name>
    <url-pattern>/PLoginCrotroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dquery</display-name>
    <servlet-name>Dquery</servlet-name>
    <servlet-class>controller.Dquery</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Dsearch</display-name>
    <servlet-name>Dsearch</servlet-name>
    <servlet-class>controller.Dsearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dsearch</servlet-name>
    <url-pattern>/Dsearch</url-pattern>
  </servlet-mapping>
</web-app>